body {
    background-color: azure;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: linear-gradient(to right, green 0%, green 20%, azure 20%, azure 80%, red 80%, red 100%);
}

.title {
    text-align: center;
    font-size: 30px;
    font-style: italic;
}

.button {
    background-color: brown;
    font-size: 22px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border-radius: 10%;
}

#text {
    color:aliceblue;
    font-weight: bold;
}

.image {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 500px;
    height: 400px;
    border-radius: 20%;
}

.texto {
    text-align: center;
    font-style: italic;
    width: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.subtitle1 {
    color: orange;
    font-size: 27px;
    font-weight: 600;
    text-align: center;
}

.sauce {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}

ul {
    font-style: oblique;
    list-style: circle;
    text-align: justify;
    text-align-last: center;
    width: 1300px;
    list-style-position: inside;
}

ol {
    text-align: center;
    width: 900px;
    list-style-position: inside;
}


